body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header{
    /* display: flex; */
    background-color: #1F2937;
    margin-bottom: 40px;
}

.top-header, .bottom-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
}

.website-header{
    display:flex;
}

.logo {
    height: 36px;
    width: auto;
}

ul {
    text-decoration-style: none;
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 0 20px;
}

.hero-main-text {
    font-weight: 900px;
    font-size: 48px;
    color: #F9FAF8
}

.top-header li, .bottom-header div p {
    font-size: 18px; 
    color: #E5E7EB;
}

button {
    background-color: rgb(36, 116, 166);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;

}

.info-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.second-section{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0px 200px;
    gap: 30px;
}

.image-group{
    color: #1F2937;
    size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.image-group img {
    height: 280px;
    width: 200px;
}